html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient( -180deg, rgb(187, 72, 6, 1) , rgb(187, 72, 6, 0.7),rgb(187, 72, 6, 1) );
    width: 100%;
}

.logo {
    display: block;
    position: fixed;
    width: 60%;
    margin: 0 auto;
    z-index: -1;
    height: 10vw;
    width: auto;
}

/* .logo-top {
    display: block;
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-bottom: -10%;
    z-index: 2;
}

.logo-bottom {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: -10%;
    z-index: 2;
}

.logo-images {
    border-radius: 10px;
    padding-top: 20vh;
} */

.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

.content-box {
    background-color: rgba(255, 255, 255);
    margin: 3vh 10vh;  
    padding: 2vh;
    box-shadow: 10px 10px 10px black;
    text-align: center;  
    opacity: 1;
}

.underline{
    border-bottom: 5px black solid;
}

.flex{
    display:flex;
    justify-content: start;
    width:100vw
}

.row-width{
    overflow: scroll;
    overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(187, 72, 6, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(88, 34, 2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(182, 99, 51);
  }

.row-big{
    overflow: hidden;
    width: 100vw;
}

.header{
    padding: 5vh;
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
}

.body-text{
    color: white;
    width:100%;
}

.search-button{
    background: rgb(255, 255, 255);
    padding: 10px;
}

.distance-button{
    display: inline-block;
    background: rgb(255, 255, 255);
}

.distance-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .flex{
        width: 500vw;
    }

    .header{
        margin-left: 10vw;
        display: inline-block;
    }

    .distance-form{
     display: inline-block;
    }

    .logo{
        opacity: 0;
    }

    .container{
        overflow: hidden;
        width: 100vw;
        margin:0;
    }

    .row-width{
        overflow: scroll;
        overflow-y: hidden;
        margin: 0;
    }
}