html, body {
    height: 100%;
}

body {
    background: rgb(247, 249, 250);
    background: linear-gradient(330deg, rgba(247, 249, 250, 1) 0%, rgba(135, 202, 251, 1) 40%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    display: block;
    position: relative;
    width: 60%;
    margin: 0 auto;
    z-index: 1;
}

.logo-top {
    display: block;
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-bottom: -10%;
    z-index: 2;
}

.logo-bottom {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: -10%;
    z-index: 2;
}

.logo-images {
    display: block;
    border-radius: 10px;
    padding-top: 10%;
}

.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#splash-content {
    height: 80vh;
    margin-top: 10vh;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.904);
    height: 30vh;
    margin-top: 10vh;
    border-radius: 10px;
}

/* BREATH TIMER STYLING */

#timer {
    display: block;
    font-size: 300px;
  
    color: lavender;
    text-shadow: 2px 2px grey;
    margin: 0 auto;
    font-family: 'Titan One', cursive;

}

#timer-page {
    display: block;
    margin: 0 auto;
    margin-top: 15vh;
    height: 50vh;
;
}

#timer-btn {
    display: block;
    margin: 0 auto;
    height: 15vh;


}

.dot {
    display: block;
    /* height: 40vw; */
    width: 90vw;
    background-color: rgb(235, 140, 248);
    border-radius: 50%;
    display: inline-block;
  }