html, body {
    height: 100%;
}

body {
    background: rgb(247, 249, 250);
    background: linear-gradient(330deg, rgba(247, 249, 250, 1) 0%, rgba(135, 202, 251, 1) 40%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    display: block;
    position: relative;
    width: 60%;
    margin: 0 auto;
    z-index: 1;
}

.logo-top {
    display: block;
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-bottom: -10%;
    z-index: 2;
}

.logo-bottom {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: -10%;
    z-index: 2;
}

.logo-images {
    display: block;
    border-radius: 10px;
    padding-top: 10%;
}



#splash-content {
    height: 80vh;
    margin-top: 10vh;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.904);
    height: 30vh;
    margin-top: 10vh;
    border-radius: 10px;
}

/* BREATH TIMER STYLING */

#timer {
    display: block;
    font-size: 300px;
    color: rgba(230, 230, 250);
    text-shadow: 2px 2px grey;
    font-family: 'Titan One', cursive;
    opacity: .65;
}

#exit-btn {
    display: none;
}


#timer-btn {
    display: block;
    
    height: 15vh;
  
}

.dot {
    display: block;
    left: auto;
    height: 45px;
    width: 45px;
    background-color: rgb(235, 140, 248);
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
 
}

.breath-button {
    
    color: white;
    font-weight: bolder;
    background-color: aqua;
    width: 80%;
    margin: 3px;
    position: relative;
    margin-top: 50vh;
    /* bottom: 0; */
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.full-height {
    height: 100vh;
}

.animate-circle {
    height: 50%;
    background-color: rgb(235, 140, 248);
    animation-name: grow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes grow {
    10% {
        /* background-color: blue; */
        height: 20%;
        width: 20%;
    }
    20% {
        /* background-color: blue; */
        height: 40%;
        width: 40%;
    }
    30% {
        /* background-color: blue; */
        height: 60%;
        width: 60%;
    }
    40% {
        /* background-color: green; */
        height: 80%;
        width: 80%;
    }
    50% {
        /* background-color: blue; */
        height: 90%;
        width: 90%;
    }
    60% {
        /* background-color: purple; */
        height: 80%;
        width: 80%;
    }
    70% {
        /* background-color: blue; */
        height: 60%;
        height: 60%;
    }
    80% {
        /* background-color: yellow; */
        height: 40%;
        width: 40%;
    }
    90% {
        /* background-color: yellow; */
        height: 20%;
        width: 20%;
    }
    100% {
        /* background-color: yellow; */
        height: 20%;
        width: 20%;
    }
}

.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}